/*ESTILO GERAL (BODY)*/

body { 
    background-color:burlywood; 
    color:black;
}

h1 {
    font-size: 1.8em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100; 
    font-weight: bold;
    font-style: italic;
}
h4 {
    font-size: 1.8em;  
    font-weight: bold;
    font-weight: 100; font-style: oblique;  
    font-family: 'Times New Roman', Times, serif; 
}

h3 {
 font-size: 1.8em;  
 font-weight: bold;
 font-weight: 100;
 font-style: oblique; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
 font-size: 1.5em;  
 font-weight: 100; font-style:normal; 
 font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
max-width:200px; 
border-radius: 10px;
}
